.button {
  @include reset-btn;

  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 74px;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  padding-left: 7px;
  background-image: linear-gradient(to right, #6ddff7, #c118c8);
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.21);
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  @include max-width(322px);

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &_desc {
    display: none;

    @media (max-width: 650px) {
      display: block;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto;
    }
  }

  &_calc {
    max-width: 100%;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(to right, #96e3f4, #ee5af4);
  }

  &:active {
    background: #7147ac;
    box-shadow: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &::after {
      position: absolute;
      z-index: 0;
      top: -150px;
      left: -90px;
      width: 25px;
      height: 300px;
      margin-left: 60px;
      animation: none;
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: slideme;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      background:
        -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(#fff),
          to(hsla(0, 0%, 100%, 0.01))
        );
      background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
      content: '';
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.3s;
      transition: none;
    }
  }

  &::after {
    position: absolute;
    z-index: 0;
    top: -150px;
    left: -90px;
    width: 25px;
    height: 300px;
    margin-left: 60px;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background:
      -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#fff),
        to(hsla(0, 0%, 100%, 0.01))
      );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
