.deals {
  min-height: 1113px;
  @include bg;
  background-image: url('/src/img/bgs/deals-bg.jpg');
  padding-top: 126px;
  padding-bottom: 57px;

  @media (max-width: 1029px) {
    padding-bottom: 0;
  }

  @media (max-width: 650px) {
    padding-top: 45px;
  }
}

.deals__title {
  @include title;
  @include max-width(570px);
  margin-left: 400px;
  position: relative;
  margin-bottom: 67px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);

  @media (max-width: 1029px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &::before {
    content: url('/src/img/card-deals.png');
    position: absolute;
    left: -766px;
    top: 0px;
    z-index: -1;

    @media (max-width: 1150px) {
      left: -724px;
    }

    @media (max-width: 1029px) {
      content: none;
    }
  }
}

.deals__text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;
  @include mobile-mb(20px);
}

.deals__list {
  display: flex;
  @include reset-list;
  gap: 38px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 47px;

  @include tablet-mb(35px);
  @include mobile-mb(20px);
}

.deals__item {
  @include max-width(355px);
  background-color: #282d54;
  padding-top: 39px;
  padding-left: 24px;
  padding-right: 15px;
  padding-bottom: 35px;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) .deals__item-title::before {
      background-image: url('/src/img/icons/deals/#{$i}.png');
    }
  }
}

.deals__item-title {
  padding-left: 102px;
  position: relative;
  font-size: 34px;
  font-weight: bold;
  color: $yellow;
  margin-bottom: 45px;

  @media (max-width: 650px) {
    font-size: 26px !important;
    padding-left: 88px;
    margin-bottom: 27px;
  }

  &::before {
    content: '';
    width: 70px;
    height: 70px;
    @include bg;
    position: absolute;
    left: 0px;
    top: 6px;

    @media (max-width: 650px) {
      top: -10px;
    }
  }
}

.deals__item-percent {
  font-size: 24px;
  font-weight: bold;
  color: $yellow;
  margin-bottom: 24px;

  b {
    font-size: 36px;
  }
}

.deals__item-text {
  font-size: 18px;
  line-height: 1.44;
  color: white;
  margin-bottom: 24px;
}

.deals__item-check {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.44;
  color: white;

  b {
    font-weight: bold;
    font-size: 24px;
  }
}

.deals__item-cells {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 1.44;
  color: white;

  b {
    font-weight: bold;
    font-size: 24px;
  }
}

.deals__note {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 0;
}

.deals__img {
  display: block;
  position: absolute;
  z-index: -1;
  top: 52px;
  right: -1012px;

  @media (max-width: 1029px) {
    top: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    position: relative;
    margin-top: 20px;
  }
}
