.desc {
  position: relative;
  min-height: 847px;
  background-image: url('/src/img/bgs/desc-bg.jpg');

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.602679) 0%,
      rgba(57, 96, 162, 0) 53%
    );

    @media (min-width: 2000px) {
      content: '';
    }
  }

  @include bg;

  @media (max-width: 650px) {
    padding-bottom: 30px;
  }
}

.desc__title {
  margin-bottom: 23px;
  padding-top: 45px;
  color: white;
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 1.35px;
  text-align: center;
  text-transform: uppercase;

  @include mobile-mb(20px);

  @media (max-width: 1150px) {
    font-size: 45px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }

  @media (max-width: 650px) {
    br {
      display: none;
    }

    padding-top: 20px;
    font-size: 21px !important;
    line-height: 1.4;
  }
}

.desc__subtitle {
  @include max-width(948px);

  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

  @media (max-width: 1150px) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  @media (max-width: 991px) {
    margin-bottom: 25px;
    font-size: 25px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 22px;
  }

  span {
    color: $yellow;
  }
}

.desc__text {
  @include max-width(944px);

  margin-right: auto;
  margin-bottom: 47px;
  margin-left: auto;
  font-size: 24px;
  line-height: 1.42;
  text-align: center;

  @media (max-width: 991px) {
    margin-bottom: 30px;
    font-size: 22px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
    font-size: 20px;
  }

  @media (max-width: 650px) {
    margin-bottom: 20px;
    color: white;
  }
}

.desc__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
  gap: 50px;

  @media (max-width: 650px) {
    margin-bottom: 0;
    gap: 25px;
  }
}

.desc__item {
  @include max-width(295px);

  position: relative;
  padding-left: 93px;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: 650px) {
    @include max-width(300px);

    padding-left: 80px;
    font-size: 15px !important;
  }

  &:last-child {
    @include max-width(265px);

    @media (max-width: 650px) {
      @include max-width(300px);
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: -17px;
    left: -26px;
    width: 126px;
    height: 126px;
    background-size: contain;
    content: '';

    @include bg;

    @media (max-width: 650px) {
      top: -23px;
      left: -34px;
      transform: scale(0.8);
    }
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/desc/#{$i}.png');
    }
  }
}
