.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;

  @media (max-width: 650px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 910px) {
    flex-direction: column;
  }
}

.footer__logo {
  position: absolute;
  @include central-align;

  @media (max-width: 1150px) {
    position: relative;
    left: 0px;
    top: 0px;
    transform: none;
  }
}

.footer__data,
.footer__address {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;

  @media (max-width: 910px) {
    text-align: center;
  }

  @media (max-width: 650px) {
    font-size: 14px !important;
  }
}

.footer__address {
  padding-left: 40px;
  position: relative;

  &::before {
    left: 0px;
    @include y-align;
    position: absolute;
    content: '';
    width: 32px;
    height: 22px;
    @include bg;
    background-image: url('/src/img/icons/gerb.png');
  }

  @media (max-width: 650px) {
    padding-left: 10px;
  }
}

.footer__right-side {
  display: flex;
  flex-direction: column;
}

.footer__contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 910px) {
    align-items: center;
  }
}

.footer__phone {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  @include reset-link(black);

  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.footer__callback {
  @include reset-btn;
  color: #f34648;
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 13px;
}

.footer__f5 {
  font-size: 14px;
  line-height: 1.71;
  color: black;
  padding-left: 55px;
  position: relative;

  &::before {
    left: 0px;
    top: -2px;
    position: absolute;
    content: url('/src/img/icons/f5.svg');
  }
}
