.info {
  min-height: 1347px;
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #282d54;
  background-image: url('/src/img/bgs/info-bg.jpg');

  @include bg;

  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 50px;
    background-position-x: -445px;
  }

  @media (max-width: 890px) {
    min-height: auto;
    background-image: none;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.info__title {
  @include title;

  margin-bottom: 38px;
  color: white;
  text-align: center;

  span {
    color: $yellow;
  }
}

.info__content {
  @include max-width(665px);
}

.info__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 46px;
  gap: 15px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.info__item {
  padding: 35px;
  background-color: #f2f3f4;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;

  @include max-width(325px);

  @media (max-width: 650px) {
    padding: 15px;

    br {
      display: none;
    }
  }
}

.info__text-box {
  margin-bottom: 46px;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.info__text {
  margin-bottom: 25px;
  color: white;
  font-size: 18px;
  line-height: 1.44;

  &:last-child {
    margin-bottom: 0;
  }
}

.info__note {
  min-height: 118px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 193px;
  margin-bottom: 45px;
  background-image: url('/src/img/info-note-bg.jpg');
  background-position-x: left;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;

  @include bg;
  @include tablet-mb(40px);
  @include mobile-mb(20px);

  @media (max-width: 730px) {
    padding-right: 20px;
    padding-left: 150px;
    background-color: $yellow;
    background-size: 578px;
  }

  @media (max-width: 650px) {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 84px;
    background-position-x: -4px;
    background-size: 361px;
  }
}

.info__note-text {
  @include max-width(623px);

  margin-bottom: 53px;
  color: $yellow;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.info__income {
  position: relative;
  padding-top: 40px;
  padding-right: 123px;
  padding-bottom: 40px;
  padding-left: 240px;
  margin-bottom: 0;
  background-color: #f2f3f4;
  font-size: 20px;
  text-align: center;

  &::before {
    position: absolute;
    left: 148px;
    width: 70px;
    height: 70px;
    background-image: url('/src/img/icons/info-icon.png');
    content: '';

    @include bg;
    @include y-align;

    @media (max-width: 880px) {
      content: none;
    }
  }

  span {
    color: $yellow;
    font-size: 36px;
    font-weight: bold;

    @media (max-width: 650px) {
      font-size: 25px;
    }
  }

  @media (max-width: 880px) {
    padding: 30px;
  }

  @media (max-width: 650px) {
    padding: 15px;
  }
}

.info__img {
  display: none;

  @media (max-width: 650px) {
    display: block;
    width: 100%;
    margin-top: -106px;
    margin-bottom: -170px;
  }
}
