.modal-form {
  background-color: white;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 61px;
  padding-right: 61px;
  padding-bottom: 28px;
  @include max-width(466px);
  -webkit-box-shadow: inset 0px -50px 23px -30px rgba(0, 0, 0, 0.08),
    0px 0px -69px -7px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0px -50px 23px -30px rgba(0, 0, 0, 0.08),
    0px 0px 50px -7px rgba(0, 0, 0, 0.14);

  &_join {
    @media (max-width: 809px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 650px) {
    padding: 20px;
  }
}

.modal-form__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 33px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.modal-form__content {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 21px;
}

.modal-form__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.modal-form__input-box {
  @include max-width(323px);
  position: relative;
  border-bottom: 1px solid #a8a8a8;
}

.modal-form__input {
  font-size: 16px;
  padding-left: 32px;
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;

  &::-webkit-input-placeholder {
    color: #a8a8a8;
    font-style: italic;
  }

  &::-moz-placeholder {
    color: #a8a8a8;
    font-style: italic;
  }

  &:-ms-input-placeholder {
    color: #a8a8a8;
    font-style: italic;
  }

  &:-moz-placeholder {
    color: #a8a8a8;
    font-style: italic;
  }
}

.modal-form__policy {
  @include max-width(798px);
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 0;
  color: #a8a8a8;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 650px) {
    font-size: 12px !important;
  }

  button {
    @include reset-btn;
    color: #a8a8a8;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
