.slider {
  width: 100%;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider__img-box {
  display: flex;
  justify-content: space-between;
  touch-action: pan-y;
  user-select: none;
}

.slider__img-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  img {
    pointer-events: none;
  }
}

.slider__nav-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 30px;

  @media (max-width: 991px) {
    justify-content: center;
  }
}

.slider__nav-item {
  @include reset-btn;

  width: 11px;
  height: 11px;
  background: #d9d9d9;
  border-radius: 50%;

  &_active {
    background: #ff3364;
  }
}

.slider__btns-box {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 27px;

  @media (max-width: 650px) {
    display: none;
  }
}

.slider__btn-next,
.slider__btn-prev {
  @include reset-btn;

  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #f64871 0%, #fe3459 100%);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(247, 73, 115, 0.6);

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #ff829f 0%, #ff708a 100%);
    box-shadow: 0 0 15px rgba(247, 73, 115, 0.6);
  }
}
