.stats {
  @include bg;

  position: relative;
  min-height: 1309px;
  padding-top: 95px;
  padding-bottom: 400px;
  background-image: url('/src/img/bgs/stats-bg.jpg');
  background-position: bottom center;

  @media (min-width: 1920px) {
    background-size: auto;
  }

  @media (max-width: 1020px) {
    background-size: 1265px;
  }

  @media (max-width: 650px) {
    min-height: auto;
    padding-top: 30px;
    padding-bottom: 240px;
    background-color: rgb(255, 255, 255);
    background-size: 653px;
  }
}

.stats__title {
  @include title;
  @include max-width(903px);

  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  text-align: center;

  @include tablet-mb(35px);
  @include mobile-mb(20px);
}

.stats__text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 10px;
  }

  @include mobile-mb(20px);
}

.stats__text {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.44;

  @include max-width(515px);
}

.stats__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  gap: 20px;

  @include mobile-mb(20px);

  @media (max-width: 650px) {
    flex-direction: column;
    gap: 20px;
  }
}

.stats__item {
  @include max-width(515px);

  position: relative;
  padding-left: 100px;
  font-size: 18px;
  line-height: 1.44;

  @media (max-width: 650px) {
    padding-left: 70px;
  }

  &::before {
    position: absolute;
    right: 0;
    left: -26px;
    width: 123px;
    height: 123px;
    content: '';

    @include bg;

    @media (max-width: 650px) {
      top: -11px;
      left: -26px;
      width: 100px;
      height: 100px;
    }
  }

  @for $i from 1 through 2 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/stats/#{$i}.png');
    }
  }

  b {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;

    @media (max-width: 650px) {
      font-size: 20px;
    }
  }
}

.stats__note {
  @include max-width(535px);

  position: relative;
  padding-left: 102px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;

  @media (max-width: 650px) {
    padding-left: 80px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 174px;
    background-image: url('/src/img/icons/stats-card.png');
    content: '';

    @include bg;

    @media (max-width: 650px) {
      width: 76px;
      height: 125px;
    }
  }
}

.stats__caption {
  position: absolute;
  bottom: 0;
  height: 74px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.43);
  font-size: 103.5px;
  font-weight: bold;
  line-height: 74px;

  @include x-align;

  @media (max-width: 1150px) {
    height: 65px;
    font-size: 71.5px;
  }

  @media (max-width: 750px) {
    font-size: 60px;
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.stats__icon-wrapper {
  position: absolute;
  bottom: 0;
  width: 1920px;
  height: 0;

  @include x-align;
}

.stats__icon-box {
  position: absolute;

  @media (max-width: 650px) {
    transform: scale(0.6);
  }

  &:nth-child(1) {
    bottom: 275px;
    left: 36px;
  }

  &:nth-child(2) {
    bottom: 349px;
    left: 296px;

    @media (max-width: 1020px) {
      bottom: 227px;
      left: 510px;
    }

    @media (max-width: 901px) {
      display: none;
    }
  }

  &:nth-child(3) {
    bottom: 306px;
    left: 453px;

    @media (max-width: 1020px) {
      bottom: 202px;
      left: 617px;
    }

    @media (max-width: 650px) {
      bottom: 92px;
      left: 772px;
    }
  }

  &:nth-child(4) {
    bottom: 350px;
    left: 751px;

    @media (max-width: 1020px) {
      bottom: 225px;
      left: 808px;
    }

    @media (max-width: 650px) {
      bottom: 101px;
      left: 857px;
    }
  }

  &:nth-child(5) {
    bottom: 363px;
    left: 843px;

    @media (max-width: 1020px) {
      bottom: 241px;
      left: 881px;
    }

    @media (max-width: 650px) {
      bottom: 115px;
      left: 904px;
    }
  }

  &:nth-child(6) {
    bottom: 524px;
    left: 1207px;

    @media (max-width: 1020px) {
      bottom: 340px;
      left: 1108px;
    }

    @media (max-width: 650px) {
      bottom: 165px;
      left: 1011px;
    }
  }

  &:nth-child(7) {
    bottom: 478px;
    left: 1384px;

    @media (max-width: 1020px) {
      bottom: 302px;
      left: 1222px;
    }

    @media (max-width: 650px) {
      bottom: 145px;
      left: 1082px;
    }

    p {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 4px;
    }
  }

  &:nth-child(8) {
    bottom: 791px;
    left: 1818px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .stats__icon-text {
    margin-bottom: 4px;
    font-size: 16px;
    opacity: 0;
    transition: none;

    &_shown {
      opacity: 1;
    }
  }
}

.stats__icon-text {
  margin-bottom: 4px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.4s;

  &_shown {
    opacity: 1;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .stats__icon-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: scale(0);
    transition: none;

    &_shown {
      transform: scale(1);
    }
  }
}

.stats__icon-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  transform: scale(0);
  transition: transform 0.4s;

  &_shown {
    transform: scale(1);
  }
}
