.steps {
  position: relative;
  z-index: 1;
  background-color: #f2f3f4;
  min-height: 1257px;
  @include bg;
  background-image: url('/src/img/bgs/steps-bg.jpg');
  padding-top: 64px;

  @media (max-width: 970px) {
    padding-bottom: 582px;
    background-size: 1546px;
    background-position-y: bottom;
    background-position-x: -46px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    background-position-x: -205px;
  }
}

.steps__title {
  @include title;
  @include max-width(903px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.steps__subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  @include max-width(1060px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;

  @include tablet-mb(40px);
  @include mobile-mb(25px);
}

.steps__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  @include reset-list;
  margin-bottom: 45px;

  @include tablet-mb(35px);
  @include mobile-mb(20px);
}

.steps__item {
  @include max-width(559px);
  background-color: white;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 30px;
  padding-bottom: 40px;
  position: relative;

  @media (max-width: 650px) {
    padding: 20px;
  }
}

.steps__item-title {
  font-size: 36px;
  font-weight: bold;
  color: $yellow;
  margin-bottom: 0;
  position: absolute;
  left: -69px;
  top: 102px;
  text-transform: uppercase;
  transform: rotateZ(270deg);

  @media (max-width: 650px) {
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 10px;
    transform: none;
    font-size: 20px !important;
  }
}

.steps__item-text {
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 0;
}

.steps__text-box {
  @include max-width(559px);
  margin-left: auto;
  margin-bottom: 10px;

  @media (max-width: 970px) {
    margin-right: auto;
  }

  @media (max-width: 650px) {
    margin-bottom: 0;
  }
}

.steps__text {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
    font-weight: bold;
  }
}
