.technics {
  @include bg;

  padding-top: 64px;
  background-image: url('/src/img/bgs/technics-bg.jpg');

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.technics__title {
  @include title;
  @include max-width(986px);

  margin-right: auto;
  margin-bottom: 38px;
  margin-left: auto;
  color: white;
  text-align: center;

  @include tablet-mb(30px);
  @include mobile-mb(20px);
}

.technics__text {
  @include max-width(1014px);

  margin-right: auto;
  margin-bottom: 58px;
  margin-left: auto;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;

  @include tablet-mb(40px);
  @include mobile-mb(20px);
}

.technics__card {
  @include max-width(300px);

  min-height: 409px;
  padding-top: 190px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.technics__card-title {
  position: relative;
  min-height: 64px;
  margin-bottom: 19px;
  color: $yellow;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

  @media (max-width: 650px) {
    margin-bottom: 10px;
    font-size: 28px !important;
  }

  &::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
  }
}

@for $i from 1 through 8 {
  .technics__card-title_#{$i}::before {
    content: url('/src/img/gallery/technics/#{$i}.jpg');
  }
}

.technics__card-check {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  @media (max-width: 650px) {
    font-size: 20px !important;
  }

  span {
    font-weight: bold;
  }

  b {
    font-size: 24px;
  }
}

.technics__card-time {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  span {
    font-weight: bold;
  }

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}
