@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin reset-list {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

@mixin max-width($width) {
  width: 100%;
  max-width: $width;
}

@mixin central-align {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin title {
  position: relative;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-right: 3px solid $yellow;
  border-left: 3px solid $yellow;
  font-size: 40px;

  span {
    color: $yellow;
  }

  @media (max-width: 991px) {
    margin-bottom: 40px;
    font-size: 36px;
  }

  @media (max-width: 650px) {
    padding-right: 18px;
    padding-left: 18px;
    margin-bottom: 20px;
  }
}

@mixin mobile-mb($size) {
  @media (max-width: 650px) {
    margin-bottom: $size;
  }
}

@mixin tablet-mb($size) {
  @media (max-width: 991px) {
    margin-bottom: $size;
  }
}

@mixin x-align {
  left: 50%;
  transform: translateX(-50%);
}

@mixin y-align {
  top: 50%;
  transform: translateY(-50%);
}

@mixin reset-link($color) {
  &:focus,
  &:active,
  &:hover {
    color: $color;
    text-decoration: underline;
  }
}

@mixin h1 {
  font-family: 'Noto Sans';
  font-size: 48px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;

  @media (max-width: 1150px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 767px) {
    font-size: 25px;
  }
}

@mixin h2 {
  font-family: 'Noto Sans';
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;

  @media (max-width: 1150px) {
    font-size: 35px;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

@mixin h3 {
  font-family: 'Noto Sans';
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;

  @media (max-width: 1150px) {
    font-size: 28px;
  }

  @media (max-width: 991px) {
    font-size: 25px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

@mixin h4 {
  font-family: 'Noto Sans';
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}
