@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/priv-policy.scss';
@import './components/header.scss';
@import './components/footer.scss';

.thanks__html,
.thanks__body {
  height: 100%;
}

.thanks__body {
  @include bg;
  background-image: url('/src/img/bgs/thanks-bg.jpg');
}

.thanks__wrapper {
  display: flex;
  flex-direction: column;
}

.thanks__footer {
  flex: 0 0 auto;
}

.thanks__header {
  flex: 0 0 auto;
}

.thanks__container,
.thanks__main,
.thanks__wrapper {
  height: 100%;
}

.thanks__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thanks {
  flex: 1 0 auto;
}

.thanks__title {
  @include max-width(867px);
  font-size: 44px;
  letter-spacing: 1.1px;
  color: white;
  margin-bottom: 30px;
  margin-top: 39px;

  @media (max-width: 1150px) {
    font-size: 40px;
  }

  @media (max-width: 991px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }

  @media (max-width: 650px) {
    margin-top: 20px;
  }

  @include mobile-mb(20px);
}

.thanks__subtitle {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  margin-bottom: 32px;

  @include mobile-mb(20px);
}

.thanks__time-box {
  @include max-width(859px);
  padding-top: 40px;
  padding-bottom: 39px;
  padding-left: 256px;
  padding-right: 38px;
  background-color: #eaeae8;
  @include bg;
  background-position-x: left;
  background-image: url('/src/img/thanks-time-bg.jpg');
  margin-bottom: 30px;

  @media (max-width: 750px) {
    padding-left: 290px;
  }

  @media (max-width: 650px) {
    background-image: none;
    padding: 20px;
  }

  @include mobile-mb(20px);
}

.thanks__time-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 29px;

  @include mobile-mb(20px);

  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}

.thanks__list-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.thanks__list {
  @include reset-list;
  margin-bottom: 30px;

  @include mobile-mb(20px);
}

.thanks__item {
  padding-left: 28px;
  position: relative;
  font-size: 16px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0px;
  }

  &::before {
    left: 0px;
    top: 0px;
    position: absolute;
    content: url('/src/img/icons/thanks-arrow.png');
    transform: scale(0.5);
  }
}

.thanks__time-text {
  font-size: 16px;
  margin-bottom: 0;
}

.thanks__text {
  font-size: 20px;
  color: white;
  margin-bottom: 14px;
}

.thanks__link {
  padding-left: 47px;
  display: block;
  color: #f77d23;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 33px;
  @include mobile-mb(25px);
  position: relative;

  &::before {
    position: absolute;
    content: '';
    @include y-align;
    left: 0px;
    width: 32px;
    height: 36px;
    @include bg;
    background-image: url('/src/img/icons/logo.png');
  }

  @include reset-link(#f77d23);
}

.thanks__note-wrapper {
  padding-top: 23px;
  padding-bottom: 23px;
  background: rgb(57, 96, 162);
  background: linear-gradient(
    90deg,
    rgba(57, 96, 162, 1) 0%,
    rgba(57, 96, 162, 0) 100%
  );
}

.thanks__note {
  margin-bottom: 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
}
